<p>about works!</p>
<nav class="navbar navbar-expand-custom navbar-mainbg">
    <!-- <a class="navbar-brand navbar-logo" href="index.html"><img src="assets/img/Banners - Sehat Easy.png" alt=""></a> -->
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars text-black"></i>
    </button>
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="index.html"><i class="fas fa-home"></i>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="service.html"><i class="far fa-address-book"></i>Services</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="about.html"><i class="far fa-clone"></i>About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html"><i class="far fa-id-card"></i>Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="FAQ.html"><i class="fas fa-question"></i>Faq</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="subscription.html"><i class="fa fa-rocket"></i>Subscription</a>
            </li>
            <li class="nav-item" id="LoginNav">
                <a class="nav-link" href="login.html"><i class="far fa-user"></i>Login</a>
            </li>
            <li class="nav-item" id="LogoutNav">
              <a class="nav-link" href="index.html"><i class="far fa-user"></i>Logout</a>
            </li>
        </ul>
    </div> -->
</nav>
<div class="overflow"></div>
<div class="banner">
    <div class="col">
        <h3>The Preservation of</h3>
        <h1>Heath</h1>
        <h3>is Easiear than the</h3>
        <h1>Cure</h1>
        <h3>of desease.</h3>
    </div>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">About SehatEasy</h5>
                <p class="card-text">
                    SehatEasy is a Healthcare company, which provides you to book Appoinment into top
                    Hospitals and Diagnostic centers & buy medicines.
                </p>
            </div>
        </div>

        <div class="col-md-12">
            <div class="heigh flex">
                <div data-tilt class="s-card col-md-4">
                    <!-- <img class="fst" src="assets/img/heart-beat.png" alt=""> -->
                    <p>save life</p>
                </div>
                <div data-tilt class="s-card col-md-4">
                    <!-- <img class="snd" src="assets/img/clock.png" alt=""> -->
                    <p>save time</p>
                </div>
                <div data-tilt class="s-card col-md-4">
                    <!-- <img class="trd" src="assets/img/money.png" alt=""> -->
                    <p>save money</p>
                </div>
            </div>
        </div>

        <div class="s-text">
            <h1>Our Journey Story</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="choose_box">
                        <div class="titlepage">
                            <h2><span class="text_norlam">How We Started Our</span> <br>Journey</h2>
                        </div>
                        <p>We started our journey in the second wave of Covid-19. During the period of the second
                            wave of
                            covid-19, we helped thousands of patients in Aurangabad for getting Ventilator beds,
                            Oxygen
                            cylinders, Medicine and many more. That is how came to know many problems in the
                            healthcare
                            sector in tier 2 cities.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="img_box js-tilt" data-tilt>
                                <!-- <img src="assets/img/undraw_doctors_hwty.svg" alt="img2" /> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="img_box js-tilt" data-tilt>
                                <!-- <img src="assets/img/undraw_baby_ja7a.svg" alt="img"> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="choose_box">
                        <div class="titlepage right_align">
                            <h2><span class="text_norlam">Our Thousands Of</span> <br>Thoughts</h2>
                        </div>
                        <p>The healthcare ecosystem is highly unorganised and data of fees structure, facilities
                            available and in-clinic appointment booking for nearby hospitals is unavailable in tier
                            2 cities. So we decided to create a health care ecosystem more affordable, standardized
                            and readily available to everyone in Bharat. This idea turned into a company.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
